/* Blog container and general styling */
.blog-container-fluid {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Header Section */
.blog-header {
  background-color: #007bff;
  color: white;
  padding: 50px 0;
  text-align: center;
  background-image: url('../../img/blog/blogheader-bg.jpg');
}

.blog-header h1 {
  font-size: 2.5rem;
}

.blog-header p {
  font-size: 1.2rem;
}

/* Blog Content Layout */
.blog-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}


.blog-posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns grid */
  gap: 20px;
  width: 70%;
}

/* Individual blog post container */
.blog-post {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Ensure there's space for text below the image */
}

.blog-post:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

/* Post image */
.post-image {
  background-size: cover;
  background-position: center;
  height: 200px; /* Adjust height as needed */
  width: 100%;
}

/* Post details (title and content) */
.post-details {
  padding: 20px;
}

.post-details h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.post-details p {
  font-size: 1rem;
  color: #666;
}

/* Learn More button */
.learn-more-button {
  display: block;
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.learn-more-button:hover {
  background-color: #0056b3;
}


/* Sidebar Styling */
.blog-sidebar {
  width: 25%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

/* Search Bar */
.search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Category Section */
.categories ul {
  list-style: none;
  padding: 0;
}

.categories li {
  cursor: pointer;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.categories li:hover {
  color: #007bff;
}

/* Featured Posts */
.featured-posts ul,
.archives ul {
  list-style: none;
  padding: 0;
}

.featured-posts li,
.archives li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.featured-posts li:hover,
.archives li:hover {
  color: #007bff;
}

.blog-post[data-id='1'] {
  background-image: url('../../img/blog/totoutrial11-kitchen1.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}

.blog-post[data-id='2'] {
  background-image: url('../../img/blog/totoutrial8-kitchen2.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}
.blog-post[data-id='3'] {
  background-image: url('../../img/blog/kitchen3.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}
.blog-post[data-id='4'] {
  background-image: url('../../img/blog/kitchen4.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}
.blog-post[data-id='5'] {
  background-image: url('../../img/blog/kitchen5.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}
.blog-post[data-id='6'] {
  background-image: url('../../img/blog/kitchen6.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}
.blog-post[data-id='7'] {
  background-image: url('../../img/blog/kitchen7.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}
.blog-post[data-id='8'] {
  background-image: url('../../img/blog/kitchen8.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}
.blog-post[data-id='9'] {
  background-image: url('../../img/blog/kitchen9.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}


.blog-post[data-id='10'] {
  background-image: url('../../img/blog/toutrail-travel-1.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}

.blog-post[data-id='11'] {
  background-image: url('../../img/blog/toutrail-travel-1.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}

.blog-post[data-id='12'] {
  background-image: url('../../img/blog/totoutrial2.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}
.blog-post[data-id='13'] {
  background-image: url('../../img/blog/totoutrial3.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}
.blog-post[data-id='14'] {
  background-image: url('../../img/blog/totoutrial4.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}
.blog-post[data-id='15'] {
  background-image: url('../../img/blog/totoutrial5.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}
.blog-post[data-id='16'] {
  background-image: url('../../img/blog/totoutrial5.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}
.blog-post[data-id='17'] {
  background-image: url('../../img/blog/totoutrial6.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}
.blog-post[data-id='18'] {
  background-image: url('../../img/blog/totoutrial7.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}
.blog-post[data-id='19'] {
  background-image: url('../../img/blog/totoutrial8-kitchen2.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}
.blog-post[data-id='20'] {
  background-image: url('../../img/blog/totoutrial9.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}
.blog-post[data-id='21'] {
  background-image: url('../../img/blog/totoutrial10.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}
.blog-post[data-id='22'] {
  background-image: url('../../img/blog/totoutrial11-kitchen1.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}
.blog-post[data-id='23'] {
  background-image: url('../../img/blog/totoutrial11-kitchen1.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}
.blog-post[data-id='24'] {
  background-image: url('../../img/blog/totoutrial12.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}
.blog-post[data-id='25'] {
  background-image: url('../../img/blog/totoutrial13.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}

/* Featured posts section */
.featured-posts {
  margin-top: 20px;
}

.featured-posts ul {
  padding: 0;
  list-style: none;
}

.featured-posts li {
  margin-bottom: 20px;
}

/* Featured post layout */
.featured-post {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

/* Image styling for featured post */
.featured-post .post-image {
  background-size: cover;
  background-position: center;
  height: 150px; /* Adjust as needed for featured post image */
  width: 100%;
}

/* Post title below the image */
.featured-post .post-title {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}
