.blog-detail-container {
    padding: 40px;
}

.blog-detail-header {
    background-size: cover; /* Cover the header area */
    background-position: center; /* Center the background image */
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px; /* Add some padding for better appearance */
}

.blog-detail-image {
    max-width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    margin: 20px 0; /* Add some spacing around the image */
}

.blog-detail-header h1 {
    font-size: 36px;
    margin: 0; /* Remove default margin */
}

.blog-detail-header p {
    font-size: 18px;
}

.blog-detail-content {
    margin: 40px;
    font-size: 18px;
    line-height: 1.6;
}


