@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
.contact-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #ffecde;
  background-image: url('https://png.pngtree.com/background/20230412/original/pngtree-coffee-background-picture-image_2393936.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

/* Header styles */
.contact-header {
  text-align: center;
  margin-bottom: 40px;
  
}

.contact-header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  margin-top: 50px;
  color: rgb(39, 21, 7);
  font-family: 'Rozha One', serif;
}

.contact-header p {
  font-size: 2rem;
  color: rgb(39, 21, 7);
  font-family: 'Rozha One', serif;

}

/* Details section */
.contact-details {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  margin-bottom: 40px;
}

.contact-info, .contact-map {
  padding: 20px;
  background-color: #fff; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px; 
}

.contact-info {
  flex: 1;
}

.contact-map {
  flex: 2;
}

/* Contact info styles */
.contact-info h2, .contact-map h2, .contact-form h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #46250f;
  font-family: 'Rozha One', serif;

  font-weight: 600; 
}

.contact-info p, .contact-map p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #333; 
}

/* Form styles */
.contact-form {
  max-width: 600px;
  margin: 0 auto; 
  padding: 20px;
  background-color: #fff; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.submit-button1 {
  padding: 10px 20px;
  background-color: orange; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

.submit-button:hover {
  background-color: rgb(255, 123, 0); 
}

/* Responsive Styles */
@media (min-width: 768px) {
  .contact-details {
    flex-direction: row; 
  }
  .contact-info {
    margin-right: 20px; 
  }
}

@media (max-width: 576px) {
  .contact-header h1 {
    font-size: 2rem; 
  }

  .contact-header p {
    font-size: 1rem; 
  }

  .contact-info h2, .contact-map h2, .contact-form h2 {
    font-size: 1.5rem; 
  }

  .submit-button {
    width: 100%; 
  }
}

/* Add animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.contact-page {
  animation: fadeIn 0.5s ease-in;
}
