@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

.portfolio-detail-header {
    position: relative; 
    background-size: cover; 
    background-position: center; 
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

/* Overlay Styles */
.portfolio-detail-header::after {
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.portfolio-detail-image {
    max-width: 100%; 
    height: auto; 
    margin: 20px 0; 
    z-index: 2; 
    position: relative; 
}

.portfolio-detail-header h1 {
    font-size: 46px;
    margin: 0; 
    z-index: 2; 
    position: relative; 
    font-family: Rozha One;
}



.portfolio-detail-content {
    font-size: 18px;
    line-height: 1.6;
    margin: 15% 0;
}
.portfolio-detail-info {
    display: flex;
    justify-content: space-between;
    margin: 20% 0;
    padding: 10%;
}

.portfolio-detail-about {
    flex: 1;
    margin-right: 20px;
}

.portfolio-detail-about h2 {
    color: #4F3230;  
    font-size: 36px;
    font-family: Rozha One;

}

.portfolio-detail-about h3{
    color: #4F3230;  
      font-size: 12px;
      font-family: Rozha One;


}

.portfolio-detail-content {
    flex: 2;
   


}
.portfolio-detail-content h2{
     font-size: 36px;
    color: #4F3230;
    font-family: Rozha One;

}

.portfolio-detail-content hr {
    margin-bottom: 20px;
    border: none;
    height: 2px;
    background-color: #ccc; 
}

.portfolio-detail-categories h3 {
    color: #4F3230;
    font-size: 20px;
}