@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

.shopmain{
  background-color: #ffefef;
}

.product-item {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.product-item:hover {
  transform: translateY(-5px);
}

.card-img-top {
  height: auto;
  max-height: 300px; 
  object-fit: cover;
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-item:hover .hover-overlay {
  opacity: 1;
}

.shopping-bag-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.shopping-bag-btn:hover {
  color: #ff6f61;
}

/* Category Sidebar */
.category-sidebar {
  margin-top: 30px;
  padding: 20px;
  margin-left: 20px;
  background-color: #f8f9fa; 
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.category-sidebar h5 {
  margin-bottom: 15px;
  font-weight: bold; 
  font-size: 1.25rem; 
  color: #4F3230;
  font-family: Rozha One;

}

.category-sidebar ul {
  padding-left: 0;
  list-style-type: none; 
}

.category-sidebar ul li {
  margin-bottom: 10px;
}

.category-sidebar button {
  width: 100%; 
  text-align: left; 
  padding: 10px; 
  border: none; 
  background-color: transparent; 
  transition: background-color 0.3s ease; 
}

.category-sidebar button:hover {
  background-color: #e2e6ea; 
}

.category-sidebar button.active {
  background-color: orange; 
  color: white; 
  font-weight: bold; 
}

/* Animation Classes */
.product-card {

  opacity: 0; 
  transform: translateY(20px); 
  transition: opacity 1s ease, transform 1s ease;
}

.product-card.show {
  opacity: 1; 
  transform: translateY(0); 
  padding: 40px;
}
.shoplable-main{
  width: 72% !important;
}

.shop-label {
  margin-top: 30px;
  background-color: #f8f9fa; 
  border-radius: 5px; 
  box-shadow: 0 0 8px 8px white inset;
  height: 90%;
  background-image: url('../../img/blog/totoutrial15.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.shop-label h1 {
  font-weight: bold; 
  color: #ffffff; 
  margin: 10%; 
  font-family: Rozha One;
  font-size: 46px;

}
.shop-label h1 {
  font-weight: bold; 
  color: #ffffff; 
  margin: 10% 10% 3% 10%;
    font-family: Rozha One;
  font-size: 46px;

}

.shop-label  p a {
  color: #ffffff !important;
  text-decoration: none;
  position: relative; 
  font-weight: 500;
  font-size: 26px;
}

.shop-label  p a::after {
  content: ''; 
  position: absolute; 
  left: 0; 
  bottom: -2px; 
  width: 100%; 
  height: 2px; 
  background-color: orange; 
  transform: scaleX(0); 
  transition: transform 0.3s ease; 
}

.shop-label  p a:hover::after {
  transform: scaleX(1); 
}


.product-cardmain{

padding: 20px;
}


.product-card{
  padding: 10px;
}


@media (max-width: 768px) {
  .shoplable-main{
    width: 100% !important;
  }
  
}